<h3>Home</h3>
<p>Welcome to the home of <strong> <%= @owner.name %> </strong>.</p>
<p>I was born on <strong><%= @owner.birthdate %> </strong>.</p>
<p>Only <strong><%= @owner.countdown %> </strong>days until my birthday!</p>